<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  {% assign default_paths = site.pages | sort: "order" | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  <a class="navbar-brand" href="{{ "/" | relative_url }}">
    <img src="/assets/images/logo-white.svg" class="logo"  style="width: 200px;" />
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      {% for nav in site.data.nav %}
        {% if nav.subcategories != null %}
          <li class="nav-item dropdown dropdown-navheader">
            <a class="nav-link dropdown-toggle" id="navbar-dropdown-{{ nav.url }}" href="{{ nav.href }}">{{ nav.title }} </a>
            <div class="dropdown-menu">
            {% for subcategory in nav.subcategories %}
              <a class="dropdown-item" href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a>
            {% endfor %}
          </li>
        {% elsif nav.title == page.title %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ nav.href }}">{{ nav.title }}</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ nav.href }}">{{ nav.title }}</a>
          </li>

        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
