---
layout: default
---

<div class="blog">
  <header class="post-header bg-header" >
    <div class="container-fluid">
      <h1 class="post-title">{{ page.subtitle | escape }}</h1>
      <h4 class="header-lead">{{page.lead | escape}}</h4>
    </div>
  </header>
  {{ content }}

  <div class="container">
    <ul class="post-list list-unstyled">
      <div class="card-columns">
      {% for post in site.posts %}
      <li>
        <div class="card">
          <div class="card-body">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <h4 class="card-title mb-0">{{ post.title | escape }}</h4>
            <p class="card-text"><small class="text-muted">{{ post.categories}}</small></p>
            <p class="card-text">
              {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            </p>
            <p class="card-text"><small class="text-muted">{{ post.date | date: date_format }}</small>
            <a class="post-link float-right" href="{{ post.url | relative_url }}">Read more</a></p>
          </div>
        </div>
      </li>
      {% endfor %}
      </div>
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  </div>
</div>
